# Application configuration
PORT=3000
EXTERNAL_PORT=3000

# Database Configuration (for app container to connect to db container)
DATABASE_URL=postgres://postgres:heslo@db:5432/torquedash

# Database credentials used to initialize the PostgreSQL container
DB_USER=postgres
DB_PASSWORD=heslo
DB_NAME=torquedash

# Session keys (comma-separated list) for signing session cookies
SESSION_KEYS=6a5w4d65a4wd,a65w4d6aw4d89a4,65f4b8b4szd8
